body{
    background: #6a11cb;
        
    background: -webkit-linear-gradient(to right, rgba(106, 17, 203, 1), rgba(37, 117, 252, 1));
        
    background: linear-gradient(to right, rgba(106, 17, 203, 1), rgba(37, 117, 252, 1))
    
}

.card-body h1{
    margin-bottom: 25px;
}

.card-body #email{
    margin-top: 5px;
    font-size: x-large;
}
.card-body #email-input{
    width: 85%;
    margin-right: auto;
    margin-left: auto;
}

.card-body .email-popup{
    width: 300px;
    position:absolute;
    display: block;
    background-color: #555;
    color:rgb(255, 40, 40);
    cursor: pointer;
    text-align: center;
    z-index: 1;
    left: 15%;
    bottom: 66%;
    border-radius: 6px;
    border: solid 1px;
    visibility:hidden;
}

.card-body .email-popup::after{
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent
}


.card-body #restart_btn{
    background-color: firebrick;
    color: white;
    width: auto;
}
