body {
    background: #6a11cb;
    
    background: -webkit-linear-gradient(to right, rgba(106, 17, 203, 1), rgba(37, 117, 252, 1));
    
    background: linear-gradient(to right, rgba(106, 17, 203, 1), rgba(37, 117, 252, 1))
    }

h1{
    padding-bottom: 20px;
}

.card-body label{
    font-size: 20px; 
}

.card-body input{
    margin-left: 20%;
    width: 60%;
}

.card-body button{
    color: white; 
    width: 200px;
}

.card-body #btn-clear{
    background-color: firebrick;
}

.card-body #btn-sign-up{
    background-color: green;
}

.card-body .password-pop{
    width: 300px;
    position:absolute;
    display: block;
    background-color: #555;
    color:rgb(255, 40, 40);
    cursor: pointer;
    text-align: center;
    z-index: 1;
    left: 35%;
    bottom: 36.5%;
    border-radius: 6px;
    border: solid 1px;
    visibility:hidden;
}

.card-body .password-pop::after{
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent
}

.card-body .conf-password-pop{
    width: 300px;
    position:absolute;
    display: block;
    background-color: #555;
    color: rgb(255, 40, 40);
    cursor: pointer;
    text-align: center;
    z-index: 1;
    left: 35%;
    bottom: 26.5%;
    border-radius: 6px;
    border: solid 1px;
    visibility: hidden;
}

.card-body .conf-password-pop::after{
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent
}

